.paggination {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 5px;
    border: 1px solid #ccc;
}
.paggination button {
    border: none;
    background-color: #0073A3;
    color: #fff;
}
.paggination span {
    cursor: pointer;
    padding: 0 2px;
    margin: 0 2px;
}
.paggination span:hover {
    color: blue;
}
.selectedPage {
    color: #fff;
    background-color: #228cb9;
    font-weight: bold;
}