.pagination {
    display: flex;
    flex-flow: row wrap;
}
.pagination span {
    cursor: pointer;
    padding: 2px;
    margin: 0 2px;
    border: 1px dashed black;
}
.pagination span:hover {
    color: blue;
}
.selectedPage {
    color: red;
    background-color: #363636;
    font-weight: bold;
}