.statusContainer {
    border-bottom: 1px solid #ccc;
}
.statusContainer span {
    display: inline-block;
}
.statusContainer input {
    outline: none;
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: rgb(242, 246, 250);
}
.statusContainer:hover {
    background-color: rgb(100, 144, 177);
    cursor: pointer;
}