.item {
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.item:hover {
  transform: translateY(-3px);
}

.item a {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

.item a img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
