.formControl {
    display: flex;
    flex-flow: column;
}
.formControl textarea {
    resize: none;
    padding: 7px;
    border-radius: 5px;
}
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    text-align: center;
    border: 1px solid var(--DARK-GRAY);
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
.errorMessage,
.warningMessage {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}
.errorMessage {
    background-color: var(--RED);
}
.warningMessage {
    background-color: var(--YELLOW);
}