.userPhoto {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.userPhoto a {
    display: flex;
}
.userAvatar {
    width: 55px;
}
.userInfo {
    display: flex;
    flex-flow: column;
    flex-grow: 2;
}
.userInfoTitle {
    color: #afafaf;
}
.followingBtn {
    margin: 0 20px;
}