.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background: var(--DARK-BLUE);
  border-radius: 5px;
 }
.autorize {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  outline: none;
 }
 .autorize:hover {
   background-color: #3d6898;
 }
 .autorize .userName {
  color: #fff;
  margin-right: 10px;
  margin-bottom: 4px;
 }
 .autorize .userImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 10px;
}
.autorize svg {
  color: #fff;
 }
.autorizeMenu {
  position: absolute;
  top: 45px;
  right: -8px;
  z-index: 100;
  margin: 0;
  padding: 4px 0px;
  list-style: none;
  border: 1px solid #c5d0db;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background: #fff;
  width: 160px;
}
.autorizeMenu:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  bottom: 100%;
  right: 42px;
  border-width: 6px;
  margin: 0 -6px;
  border-bottom-color: #fff;
}
.autorizeMenu a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-decoration: none;
  color: #2a5885;
}
.autorizeMenu a:hover {
  background-color: #e4eaf0;
}
.loginBtn {
  background-color: #6ea6ce;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
}
.loginBtn:hover {
	background-color:#b34332;
}

        

