.profileDataForm {
    margin: 5px;
}
.profileDataRow {
    display: flex;
    font-size: 13px;
    padding: 5px 0;
}
.rowLabel {
    width: 170px;
    color: #828282;
}
.profileDataContacts span {
    padding-left: 30px;
}

.commonError {
    display: inline-block;
    border: 1px solid red;
    padding: 5px;
    color: red;
}