.nav {
   grid-area: navbar;
   align-self: start;
 }
.navList {
   list-style: none;
   margin: 0;
   padding: 0;
 }
.item {
   cursor: pointer;
   transition: all 0.3s;
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 3px;
 }
.item:hover {
  background-color: var(--WHITE)
}
.item a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  color: #000;
}
.item svg {
  color: #ccc;
  width: 15px !important;
  margin-right: 10px;
  color: #285473;
  opacity: 0.75;
}
.item .active{
  background-color: var(--DARK-BLUE);
  color: var(--WHITE);
}
.item .active svg{
  color: #fff;
  opacity: 1;
}

.newMessagesCounter {
  position: absolute;
  right: 0;
  background: #bfbfbf;
  font-size: 11px;
  padding: 5px;
  border-radius: 11px;
}

.friends {
  padding: 5px;
}
.friendsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}