.userPhotoContainer {
    position: relative;
    height: 200px;
    padding: 5px;
    background-color: #fff;
}
.userPhotoContainer img {
    width: 100%;
    align-self: start;
}
.userPhotoContainer:hover form {
    display: flex;
}