.profileInfo {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 7fr;
    grid-gap: 20px;
}
.userFullName {
    margin: 0;
}

/* profile-status */
.statusContainer {
    border: 1px solid black
}