.dialogItem {
   font-size: 14px;
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 5px;
}
.dialogItem:hover {
   background-color: var(--DARK-GRAY)
}
.dialogItem .active {
   background-color: var(--DARK-BLUE);
   color: #fff;
}
.dialogItem a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: black;
   padding: 5px;
   position: relative;
}
.dialogPhoto {
   margin-right: 15px;
   width: 48px;
   height: 48px;
}
.dialogPhoto img {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   overflow: hidden;
}
.dialogMeta {
   position: absolute;
   right: 10px;
}
.dialogMeta .newMessagesCount {
   background: #bfbfbf;
   font-size: 11px;
   padding: 5px;
   border-radius: 11px;
   min-width: 21px;
}