.dialogWrap {
   font-size: 14px;
}
.dialogWrap:hover {
   background-color: rgb(242, 246, 250);
}
.dialogWrap a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: black;
   padding: 7px 5px;
   position: relative;
}
.dialogWrap .active {
   background-color: rgb(100, 144, 177);
   color: #fff;
}
.dialogPhoto {
   margin-right: 15px;
   width: 48px;
   height: 48px;
}
.dialogPhoto img {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   overflow: hidden;
}
/* .dialogMessageWrap .userName {

} */
.dialogMeta {
   position: absolute;
   right: 10px;
}
.dialogMeta .newMessagesCount {
   background: #bfbfbf;
   font-size: 11px;
   padding: 5px;
   border-radius: 11px;
   min-width: 21px;
}