.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.login .loginTitle {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}


/* --------------------------- test acces ------------------------- */
.testAccess {
    margin-top: 10px;
    background-color: darksalmon;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
}
.testAccessTitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    text-align: center;
}

.testAccess div > span {
    width: 70px;
    display: inline-block;
}