* {
  box-sizing: border-box;
}
:root {
  --WHITE: #ffffff;
  --BLACK: #000000;
  --LIGHT-GRAY: #edeef0;
  --DARK-GRAY: #828282;
  --SOFT-BLUE: #c7dff1;
  --LIGHT-BLUE: #6ea6ce;
  --DARK-BLUE: #2a5885;
  --RED: #a21c13;
  --PINK: #ffb6b6;
  --YELLOW: #f6ffba;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--LIGHT-GRAY);
  width: 100%;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
