.loginForm div {
    margin-bottom: 10px;
}
.loginBtn {
    width: 100%;
    padding: 10px;
}
.commonError {
    margin-top: 10px;
    background-color: #ffb6b6;
    padding: 10px;
    border-radius: 5px;
}